<h3>Add new product</h3>
<form>
    <div class="row g-3 mb-3">
        <div class="col">
            <label class="visually-hidden" for="autoSizingInput">Product</label>
            <input type="text" class="form-control" id="autoSizingInput" placeholder="Product" autofocus>
        </div>
        <div class="col">
            <label class="visually-hidden" for="autoSizingInputGroup">Price</label>
            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Price">
        </div>
    </div>
    <div class="row g-3 mb-3">
        <div class="col">
            <label class="visually-hidden" for="autoSizingSelect">Supermarket</label>
            <select class="form-select" id="autoSizingSelect">
                <option selected>Select Supermarket...</option>
                <!-- <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option> -->
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>
<hr>

<!--
<form>
    <div class="row">
        <div class="col">
            <label class="visually-hidden" for="autoSizingInput">Product</label>
            <input type="text" class="form-control" id="autoSizingInput" placeholder="Product">
        </div>
        <div class="col">
            <label class="visually-hidden" for="autoSizingInputGroup">Price</label>
            <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Price">
        </div>
        <div class="col">
            <label class="visually-hidden" for="autoSizingSelect">Supermarket</label>
            <select class="form-select" id="autoSizingSelect">
                <option selected>Select Supermarket...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form> -->